/* Color palatte


*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	color:#343434;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', san-serif;
	font-size: 15px;
	line-height: 1.5;
}

img	{
	width: 300px;
}
.image_float {
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
	margin-top: 10px;
	
}
.content-left {
	display: flex;
	list-style-type: none;
	justify-content: center;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 10px 0;
	padding: 10px;

}

.{
	color: cc0066;
	background-color: #58B09C;
}
h1 {
	font-size: 70px;
	line-height: 1;
}
h2 {
	
	font-size: 45px;
}
h2.sub-head {
	margin-bottom: 30px;
}


h1, h2 {
	font-family:'Caveat', cursive;
	font-weight: 400;
	margin: 0;
}
/*.text_right {
	padding: 300px;
	display: block;
	margin: 0;
	text-align: top;
}*/
.content-wrap {
	max-width: 1200px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
	overflow: hidden;
}

.item-details h3 +p {
	font-style: italic;
	font-size: 15px;
}

.item-details h3 ~p {
	margin: 0;
}



/* Profile
-----------------------------------*/
header {
	background: #2F3061;
	color:#F7FFF7;
	text-align: center;

}
a {
	color:#FFE66D;
}

a:hover {
	text-decoration:underline;
	color:#F7FFF7; 
}


/* Projects
-----------------------------------*/
.Projects {
		background: #A9D8B8;
}
.Projects a {
	color: #F7FFF7;
	background: #2F3061; /*71B48D*/
	text-decoration:none; 
	padding: 8px;
	border-radius: 6px;
}
.Projects a:hover {
	background: rgba(47,48,97,80%);
}
.project-item{ 
	overflow: hidden;
	border-bottom: dashed;
	border-width: 0.5px;
	border-color: #FFE66D;
	padding: 25px 0; 
 }
 .removeborder {
 	border-bottom: none;
 }

 .removeborder img {
 	height: 250px;
 }
.project-item img {
	float: left;
	margin-right: 25px;
}
.project-item h3 {
	margin-top: 0;
}
.btn {
	background: #2F3061;
	border-radius: 6px;
	padding: 8px;
	text-decoration: none;
}
.btn a:hover {
	background: rgba(47,48,97,80%);

}


/* Work Experience
-----------------------------------*/
.work-experience {
	background: #A1C6D7;
}
.job-item {
	display: grid;
	grid-template-columns:1fr 2fr;
	column-gap: 30px;
	border-bottom: dashed;
	border-width: 0.5px;
	border-color: #FFE66D;
}
.job-summary {
	margin-top: 0px;
}
.textpad {
	padding-top: 10px;
	margin-top: 15px;
}
/* Education
-----------------------------------*/
.Education {
	background-image: url(../images/joanna-kosinska-unsplash.jpg);
	background-size: cover;
	background-position: top right;
	padding: 100px;
}
 .Education.p {
 	width: 60%;
 }

/* Contact Info
-----------------------------------*/
footer {
	background: #343434;
	color:#F7FFF7;
	text-align: center;
	margin-right: 0;
}
.contact-list {
	list-style-type: none;
	padding: 0;
/*	display: flex;
	justify-content: center;*/

}
.contact-list a {
	padding: 15px;
	display: inline-block;
	margin:0;
}
ul.contact-list {
	margin:0;
}
.contact-center {
	padding: 15px;
	display: inline-block;
	color: #FFE66D;
	text-decoration: underline;

}

/*Responsive
---------------------------------------*/
@media screen and (min-width: 616px) {
	header, footer {
		text-align: center;
	}
	.project-item img {
		float: left;
		margin-right: 20px;
	}
	.job-item {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 20px;
	}
	.contact-list {
		display: flex; 
		justify-content: center;
	}
}
@media screen and (max-width: 615px) {
	h1 {
		font-size: 75px;
	}
	h1 {
		line-height: 0.9;
		margin-bottom: 20px;
	}
	h2 {
		line-height: 1;
	}






}

